<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>CARS</title>
</head>
<body id='cars'>
    <div class="header">
        <h1>CARS</h1>
    </div>
    <div class="cars_container">
        <div>
            <img src="../images/cars/Chevy-Bolt-image-1.jpeg" alt="Chevy">
        </div>
        <div>
            <img src="../images/cars/ford_mustang.jpeg" alt="Ford">
        </div>
        <div>
            <img src="../images/cars/hyundai-kona.jpeg" alt="Hyundai">
        </div>
        <div>
            <img src="../images/cars/nissan_leaf.jpeg" alt="Nissan">
        </div>
    </div>
</body>
</html>