<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>CARS</title>
</head>
<body id='cars'>
    <div class="header">
        <h1>CATS</h1>
    </div>
    <div class="cars_container">
        <div>
            <img src="../images/cats/cat1.jpeg" alt="Cat1">
        </div>
        <div>
            <img src="../images/cats/cat2.jpeg" alt="Cat2">
        </div>
        <div>
            <img src="../images/cats/cat3.jpeg" alt="Cat3">
        </div>
        <div>
            <img src="../images/cats/cat4.jpeg" alt="Cat4">
        </div>
    </div>
</body>
</html>