<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Car</title>
</head>
<body>
    <h1>Add a new car</h1>
    <form>
        <label for="car">Car Make Name: 
            <input type="text" placeholder="Enter Car Make">
        </label> <br>
        <label for="car">Car Model Name: 
            <input type="text" placeholder="Enter Car Model">
        </label><br>
        <label for="car">Car Model Year: 
            <input type="text" placeholder="Enter Car Model Year">
        </label><br>
        <label for="car">Car Model Name: 
            <textarea name="" id="" cols="50" rows="15"></textarea>
        </label><br>
        <button>Submit</button>
    </form>
</body>
</html>