<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>HERE ARE SOME QUOTES!</h1>
  <% for( var x=0; x < data.length; x++){ %>
    <h3>"<%= data[x].quote %>"</h3>
    <p>&emsp;&emsp;- <%= data[x].name %> on <%= data[x].createdAt %></p>
  <% } %>
</body>
</html>