<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheet.css">
  <title>Leopard</title>
</head>
<body>
  <div class="container">
    <img src="/cats/cat2.png" alt="" class="info">
    <div class="row">
      <div class="col">
        <h4>Taxonomic name:  <%= cats[0].taxonomic_name %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Characteristics:  <%= cats[1].characteristics %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Size:  <%= cats[2].size %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Weight:  <%= cats[3].weight %></h4>
      </div>
    </div>
  </div>
</body>
</html>